<div id="<%= dom_id coin %>">
  <p>
    <strong>Identity:</strong>
    <%= coin.identity %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= coin.symbol %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coin.name %>
  </p>

  <p>
  <strong>coin_name:</strong>
  <%= coin.coin_name %>
  </p>

  <p>
  <strong>full_name:</strong>
  <%= coin.full_name %>
  </p>

  <p>
    <strong>is_trading:</strong>
    <%= coin.is_trading %>
  </p>

</div>
